In [93]:
import os 
import geopandas as gp
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [94]:
data_dir = '/Users/aakash/Desktop/CIMIS/dailyStns/'
zipfiles = [os.path.join(data_dir,x) for x in os.listdir(data_dir) if x.endswith(".zip")]

In [95]:
outdirs = []
for i in zipfiles:
    print(os.path.split(i)[1][:-4])
    outdirs.append(os.path.join(data_dir,os.path.split(i)[1][:-4]))
    os.system('''unzip {} -d{}'''.format(i, os.path.join(data_dir,os.path.split(i)[1][:-4])))

dailyStns2008
dailyStns2009
dailyStns2018
dailyStns2002
dailyStns2016
dailyStns2017
dailyStns2003
dailyStns2015
dailyStns2001
dailyStns2000
dailyStns2014
dailyStns2010
dailyStns2004
dailyStns2005
dailyStns2011
dailyStns2007
dailyStns2013
dailyStns2012
dailyStns2006

In [96]:
outdirs.sort()
workingdir = outdirs[0]
dirfiles = [os.path.join(workingdir,x) for x in os.listdir(workingdir)]
df = pd.read_csv(dirfiles[55], header=None)

# # These cols are from the Readme
# columns = ['id', 'date', 'julian_date', 'ref_eto','ref_eto_qc', 'precip', 'precpi_qc', 'srad', 'srad_qc', 'vp', 'vp_qc', 'max_airtemp', 'max_airtemp_qc', 'min_airtemp', 
#  'min_airtemp_qc', 'avg_airtemp', 'avg_airtemp_qc', 'max_rh', 'max_rh_qc', 'min_rh', 'min_rh_qc', 'avg_rh', 'avg_rh_qc', 'dew_pt', 'dew_pt_qc', 'avg_windspeed',
#           'avg_windspeed_qc', 'wind_run', 'wind_run_qc', 'avg_soil_temp', 'avg_soil']

columns = ['id', 'date', 'julian_date', 'ref_eto_qc', 'ref_eto', 'precpi_qc','precip', 'srad_qc', 'srad',  'vp_qc', 'vp', 'max_airtemp_qc',  'max_airtemp', 'min_airtemp', 
 'min_airtemp_qc', 'avg_airtemp_qc','avg_airtemp',  'max_rh_qc','max_rh',  'min_rh_qc', 'min_rh',  'avg_rh_qc', 'avg_rh','dew_pt_qc',    'dew_pt',
           'avg_windspeed', 'avg_windspeed_qc', 'wind_run_qc', 'wind_run',   'avg_soil', 'avg_soil_temp']

df.columns = columns

In [97]:
dfs = []

for i in dirfiles:
    d = pd.read_csv(i, header = None)
    d.columns = columns
    dfs.append(d)

In [167]:
mdf = pd.concat(dfs)
mdf.date = pd.to_datetime(mdf.date)
mdf.set_index('date', inplace = True)
mdft = mdf.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [168]:
# Convert to float, add nans for missing data
et = []
for i in mdft.ref_eto:
    try:
        et.append(float(i))
    except:
        et.append(np.nan)

# add column to df
mdft['ref_eto_f'] = et
fin = mdft[mdft.ref_eto_qc == '*'] # Filter flagged observaitons
fdf = fin[fin['ref_eto_f'].notna()] # remove nans

In [196]:
finals = {}
for i in fdf.id.unique():
    sdf = fdf[fdf.id == i]
    finals[i] = sdf.ref_eto_f.resample("M").mean()

In [197]:
finals

{19: date
 2000-01-31     66.290323
 2000-02-29    107.000000
 2000-03-31    192.833333
 2000-04-30    264.464286
 2000-05-31    277.838710
 2000-06-30    247.066667
 2000-07-31    218.548387
 2000-08-31    215.387097
 2000-09-30    213.733333
 2000-10-31    131.225806
 2000-11-30    128.000000
 2000-12-31     99.193548
 Freq: M, Name: ref_eto_f, dtype: float64, 150: date
 2000-01-31    132.129032
 2000-02-29    145.916667
 2000-03-31    166.250000
 2000-04-30    247.655172
 2000-05-31    282.222222
 2000-06-30    280.466667
 2000-07-31    276.419355
 2000-08-31    236.000000
 2000-09-30    200.172414
 2000-10-31    156.833333
 2000-11-30    150.583333
 2000-12-31    147.916667
 Freq: M, Name: ref_eto_f, dtype: float64, 30: date
 2000-01-31     71.838710
 2000-02-29     97.357143
 2000-03-31    182.000000
 2000-04-30    248.727273
 2000-05-31    287.300000
 2000-06-30    345.533333
 2000-07-31    331.866667
 2000-08-31    280.580645
 2000-09-30    233.896552
 2000-10-31    151.241379
 2000-11-30     99.333333
 2000-12-31     73.967742
 Freq: M, Name: ref_eto_f, dtype: float64, 32: date
 2000-01-31     73.838710
 2000-02-29     98.586207
 2000-03-31    194.032258
 2000-04-30    247.206897
 2000-05-31    254.090909
 2000-06-30    341.103448
 2000-07-31    323.225806
 2000-08-31    268.966667
 2000-09-30    212.857143
 2000-10-31    147.166667
 2000-11-30     99.900000
 2000-12-31     76.129032
 Freq: M, Name: ref_eto_f, dtype: float64, 147: date
 2000-01-31    132.227273
 2000-02-29    148.750000
 2000-03-31    171.100000
 2000-04-30    261.428571
 2000-05-31    293.043478
 2000-06-30    325.440000
 2000-07-31    333.689655
 2000-08-31    279.965517
 2000-09-30    200.333333
 2000-10-31    163.230769
 2000-11-30    148.454545
 2000-12-31    133.827586
 Freq: M, Name: ref_eto_f, dtype: float64, 153: date
 2000-01-31    122.709677
 2000-02-29    132.241379
 2000-03-31    186.230769
 2000-04-30    259.214286
 2000-05-31    246.000000
 2000-06-30    310.866667
 2000-07-31    308.451613
 2000-08-31    250.129032
 2000-09-30    221.400000
 2000-10-31    156.880000
 2000-11-30    140.296296
 2000-12-31    117.354839
 Freq: M, Name: ref_eto_f, dtype: float64, 33: date
 2000-01-31     76.290323
 2000-02-29    119.482759
 2000-03-31    196.806452
 2000-04-30    246.034483
 2000-05-31    293.166667
 2000-06-30    315.133333
 2000-07-31    304.129032
 2000-08-31    265.483871
 2000-09-30    206.766667
 2000-10-31    155.838710
 2000-11-30    114.827586
 2000-12-31     79.806452
 Freq: M, Name: ref_eto_f, dtype: float64, 27: date
 2000-01-31     75.533333
 2000-02-29    100.620690
 2000-03-31    199.433333
 2000-04-30    251.760000
 2000-05-31    299.103448
 2000-06-30    344.400000
 2000-07-31    323.225806
 2000-08-31    270.290323
 2000-09-30    214.166667
 2000-10-31    138.741935
 2000-11-30    100.266667
 2000-12-31     78.580645
 Freq: M, Name: ref_eto_f, dtype: float64, 8: date
 2000-01-31     64.870968
 2000-02-29     86.586207
 2000-03-31    177.193548
 2000-04-30    218.120000
 2000-05-31    287.000000
 2000-06-30    313.241379
 2000-07-31    320.266667
 2000-08-31    292.448276
 2000-09-30    228.928571
 2000-10-31    152.233333
 2000-11-30     98.966667
 2000-12-31     76.354839
 Freq: M, Name: ref_eto_f, dtype: float64, 140: date
 2000-01-31     83.125000
 2000-02-29     90.100000
 2000-03-31    189.950000
 2000-04-30    262.956522
 2000-05-31    293.967742
 2000-06-30    344.666667
 2000-07-31    337.258065
 2000-08-31    294.827586
 2000-09-30    232.440000
 2000-10-31    158.400000
 2000-11-30    109.466667
 2000-12-31     84.440000
 Freq: M, Name: ref_eto_f, dtype: float64, 154: date
 2000-01-31    138.322581
 2000-02-29    169.785714
 2000-03-31    226.555556
 2000-04-30    306.400000
 2000-05-31    340.793103
 2000-06-30    329.633333
 2000-07-31    326.000000
 2000-08-31    278.806452
 2000-09-30    263.814815
 2000-10-31    192.440000
 2000-11-30    158.050000
 2000-12-31    141.333333
 Freq: M, Name: ref_eto_f, dtype: float64, 155: date
 2000-01-31     70.580645
 2000-02-29     95.689655
 2000-03-31    144.800000
 2000-04-30    252.928571
 2000-05-31    276.548387
 2000-06-30    325.266667
 2000-07-31    322.645161
 2000-08-31    283.612903
 2000-09-30    226.933333
 2000-10-31    147.838710
 2000-11-30    101.700000
 2000-12-31     72.133333
 Freq: M, Name: ref_eto_f, dtype: float64, 141: date
 2000-01-31    139.318182
 2000-02-29    165.739130
 2000-03-31    211.538462
 2000-04-30    290.250000
 2000-05-31    354.520000
 2000-06-30    344.360000
 2000-07-31    345.280000
 2000-08-31    297.923077
 2000-09-30    223.666667
 2000-10-31    168.272727
 2000-11-30    148.375000
 2000-12-31    142.571429
 Freq: M, Name: ref_eto_f, dtype: float64, 21: date
 2000-01-31     80.967742
 2000-02-29    112.344828
 2000-03-31    197.161290
 2000-04-30    256.250000
 2000-05-31    293.758621
 2000-06-30    342.966667
 2000-07-31    335.741935
 2000-08-31    279.800000
 2000-09-30    230.428571
 2000-10-31    166.275862
 2000-11-30    110.700000
 2000-12-31     86.366667
 Freq: M, Name: ref_eto_f, dtype: float64, 35: date
 2000-01-31    121.040000
 2000-02-29    149.148148
 2000-03-31    221.136364
 2000-04-30    269.461538
 2000-05-31    324.388889
 2000-06-30    326.956522
 2000-07-31    332.000000
 2000-08-31    274.684211
 2000-09-30    253.666667
 2000-10-31    173.700000
 2000-11-30    134.166667
 2000-12-31    115.850000
 Freq: M, Name: ref_eto_f, dtype: float64, 52: date
 2000-01-31     90.321429
 2000-02-29    100.517241
 2000-03-31    237.555556
 2000-04-30    254.444444
 2000-05-31    298.034483
 2000-06-30    305.724138
 2000-07-31    311.580645
 2000-08-31    290.133333
 2000-09-30    220.869565
 2000-10-31    138.600000
 2000-11-30    136.642857
 2000-12-31    112.040000
 Freq: M, Name: ref_eto_f, dtype: float64, 91: date
 2000-01-31     69.935484
 2000-02-29    100.241379
 2000-03-31    173.592593
 2000-04-30    224.931034
 2000-05-31    269.903226
 2000-06-30    332.931034
 2000-07-31    321.096774
 2000-08-31    304.064516
 2000-09-30    219.560000
 2000-10-31    137.423077
 2000-11-30     90.866667
 2000-12-31     77.838710
 Freq: M, Name: ref_eto_f, dtype: float64, 85: date
 2000-01-31     64.400000
 2000-02-29     82.689655
 2000-03-31    195.741935
 2000-04-30    247.758621
 2000-05-31    282.666667
 2000-06-30    344.666667
 2000-07-31    334.419355
 2000-08-31    293.870968
 2000-09-30    233.633333
 2000-10-31    167.920000
 2000-11-30    111.379310
 2000-12-31     86.548387
 Freq: M, Name: ref_eto_f, dtype: float64, 126: date
 2000-01-31     82.000000
 2000-02-29    109.689655
 2000-03-31    202.464286
 2000-04-30    267.428571
 2000-05-31    285.935484
 2000-06-30    326.862069
 2000-07-31    305.903226
 2000-08-31    271.900000
 2000-09-30    211.666667
 2000-10-31    147.833333
 2000-11-30    116.933333
 2000-12-31     93.645161
 Freq: M, Name: ref_eto_f, dtype: float64, 133: date
 2000-01-31     97.774194
 2000-02-29    101.620690
 2000-03-31    169.483871
 2000-04-30    217.827586
 2000-05-31    230.709677
 2000-06-30    252.966667
 2000-07-31    255.870968
 2000-08-31    232.933333
 2000-09-30    202.900000
 2000-10-31    134.870968
 2000-11-30    134.033333
 2000-12-31     94.833333
 Freq: M, Name: ref_eto_f, dtype: float64, 84: date
 2000-01-31     69.161290
 2000-02-29     89.310345
 2000-03-31    179.592593
 2000-04-30    245.137931
 2000-05-31    266.677419
 2000-06-30    328.366667
 2000-07-31    321.096774
 2000-08-31    280.677419
 2000-09-30    221.600000
 2000-10-31    146.266667
 2000-11-30    105.500000
 2000-12-31     81.161290
 Freq: M, Name: ref_eto_f, dtype: float64, 90: date
 2000-01-31     70.483871
 2000-02-29     87.068966
 2000-03-31    180.645161
 2000-04-30    225.360000
 2000-05-31    267.551724
 2000-06-30    339.068966
 2000-07-31    336.500000
 2000-08-31    286.941176
 2000-09-30    215.681818
 2000-10-31    106.736842
 2000-11-30     96.535714
 2000-12-31     80.709677
 Freq: M, Name: ref_eto_f, dtype: float64, 47: date
 2000-01-31     74.966667
 2000-02-29     99.103448
 2000-03-31    199.000000
 2000-04-30    256.655172
 2000-05-31    283.633333
 2000-06-30    339.758621
 2000-07-31    331.903226
 2000-08-31    292.500000
 2000-09-30    226.592593
 2000-10-31    159.866667
 2000-11-30    111.766667
 2000-12-31     82.366667
 Freq: M, Name: ref_eto_f, dtype: float64, 86: date
 2000-01-31     82.354839
 2000-02-29    114.769231
 2000-03-31    187.583333
 2000-04-30    251.708333
 2000-05-31    302.866667
 2000-06-30    338.933333
 2000-07-31    333.677419
 2000-08-31    289.387097
 2000-09-30    235.960000
 2000-10-31    165.607143
 2000-11-30    123.629630
 2000-12-31     96.451613
 Freq: M, Name: ref_eto_f, dtype: float64, 92: date
 2000-01-31     77.354839
 2000-02-29    108.793103
 2000-03-31    209.161290
 2000-04-30    256.206897
 2000-05-31    249.935484
 2000-06-30    287.300000
 2000-07-31    346.000000
 2000-08-31    272.800000
 2000-09-30    223.833333
 2000-10-31    166.346154
 2000-11-30    121.103448
 2000-12-31     91.580645
 Freq: M, Name: ref_eto_f, dtype: float64, 125: date
 2000-01-31     71.500000
 2000-02-29    113.535714
 2000-03-31    183.133333
 2000-04-30    190.379310
 2000-05-31    289.548387
 2000-06-30    342.633333
 2000-07-31    331.290323
 2000-08-31    296.193548
 2000-09-30    244.866667
 2000-10-31    171.161290
 2000-11-30    122.931034
 2000-12-31     95.566667
 Freq: M, Name: ref_eto_f, dtype: float64, 124: date
 2000-01-31     80.806452
 2000-02-29    112.965517
 2000-03-31    213.166667
 2000-04-30    263.464286
 2000-05-31    293.900000
 2000-06-30    351.500000
 2000-07-31    330.516129
 2000-08-31    287.800000
 2000-09-30    235.933333
 2000-10-31    169.633333
 2000-11-30    118.833333
 2000-12-31     90.258065
 Freq: M, Name: ref_eto_f, dtype: float64, 118: date
 2000-01-31    144.100000
 2000-02-29    171.320000
 2000-03-31    228.483871
 2000-04-30    290.448276
 2000-05-31    315.903226
 2000-06-30    320.300000
 2000-07-31    318.483871
 2000-08-31    256.451613
 2000-09-30    245.300000
 2000-10-31    180.806452
 2000-11-30    148.241379
 2000-12-31    129.517241
 Freq: M, Name: ref_eto_f, dtype: float64, 78: date
 2000-01-31    110.612903
 2000-02-29    115.517241
 2000-03-31    177.380952
 2000-04-30    218.529412
 2000-05-31    278.300000
 2000-06-30    330.733333
 2000-07-31    327.916667
 2000-08-31    271.366667
 2000-09-30    221.300000
 2000-10-31    139.933333
 2000-11-30    142.464286
 2000-12-31    116.958333
 Freq: M, Name: ref_eto_f, dtype: float64, 54: date
 2000-01-31     81.548387
 2000-02-29    131.214286
 2000-03-31    198.947368
 2000-04-30    264.666667
 2000-05-31    319.160000
 2000-06-30    363.200000
 2000-07-31    361.666667
 2000-08-31    300.153846
 2000-09-30    222.000000
 2000-10-31    171.592593
 2000-11-30    101.833333
 2000-12-31     86.433333
 Freq: M, Name: ref_eto_f, dtype: float64, 68: date
 2000-01-31    138.419355
 2000-02-29    175.500000
 2000-03-31    195.583333
 2000-04-30    321.857143
 2000-05-31     37.800000
 2000-06-30    315.466667
 2000-07-31    300.645161
 2000-08-31    255.612903
 2000-09-30    247.966667
 2000-10-31    189.193548
 2000-11-30    150.833333
 2000-12-31    132.741935
 Freq: M, Name: ref_eto_f, dtype: float64, 83: date
 2000-01-31     73.129032
 2000-02-29     87.517241
 2000-03-31    194.548387
 2000-04-30    244.896552
 2000-05-31    285.900000
 2000-06-30    315.033333
 2000-07-31    301.193548
 2000-08-31    262.032258
 2000-09-30    218.566667
 2000-10-31    149.366667
 2000-11-30    111.533333
 2000-12-31     85.677419
 Freq: M, Name: ref_eto_f, dtype: float64, 109: date
 2000-01-31     74.354839
 2000-02-29     92.758621
 2000-03-31    184.555556
 2000-04-30    258.448276
 2000-05-31    288.300000
 2000-06-30    317.533333
 2000-07-31    297.000000
 2000-08-31    268.322581
 2000-09-30    213.966667
 2000-10-31    141.709677
 2000-11-30    105.000000
 2000-12-31     75.741935
 Freq: M, Name: ref_eto_f, dtype: float64, 121: date
 2000-01-31     77.677419
 2000-02-29    100.068966
 2000-03-31    193.888889
 2000-04-30    262.750000
 2000-05-31    282.290323
 2000-06-30    339.413793
 2000-07-31    334.064516
 2000-08-31    289.870968
 2000-09-30    233.960000
 2000-10-31    157.733333
 2000-11-30    106.366667
 2000-12-31     78.266667
 Freq: M, Name: ref_eto_f, dtype: float64, 82: date
 2000-01-31    115.320000
 2000-02-29    121.071429
 2000-03-31    176.666667
 2000-04-30    219.937500
 2000-05-31    277.766667
 2000-06-30    337.758621
 2000-07-31    339.516129
 2000-08-31    280.774194
 2000-09-30    225.266667
 2000-10-31    150.387097
 2000-11-30    124.700000
 2000-12-31     99.064516
 Freq: M, Name: ref_eto_f, dtype: float64, 69: date
 2000-01-31     68.193548
 2000-02-29     89.758621
 2000-03-31    193.483871
 2000-04-30    256.222222
 2000-05-31    284.966667
 2000-06-30    336.366667
 2000-07-31    324.862069
 2000-08-31    286.433333
 2000-09-30    219.965517
 2000-10-31    152.032258
 2000-11-30    119.500000
 2000-12-31     87.774194
 Freq: M, Name: ref_eto_f, dtype: float64, 41: date
 2000-01-31    140.903226
 2000-02-29    172.423077
 2000-03-31    203.636364
 2000-04-30    325.857143
 2000-05-31    339.933333
 2000-06-30    325.966667
 2000-07-31    343.580645
 2000-08-31    292.862069
 2000-09-30    270.700000
 2000-10-31    199.714286
 2000-11-30    157.545455
 2000-12-31    147.833333
 Freq: M, Name: ref_eto_f, dtype: float64, 57: date
 2000-01-31     74.548387
 2000-02-29     99.758621
 2000-03-31    185.838710
 2000-04-30    230.440000
 2000-05-31    288.900000
 2000-06-30    351.571429
 2000-07-31    343.750000
 2000-08-31    287.380952
 2000-09-30    208.266667
 2000-10-31    137.466667
 2000-11-30     99.629630
 2000-12-31     87.838710
 Freq: M, Name: ref_eto_f, dtype: float64, 43: date
 2000-01-31     64.677419
 2000-02-29     89.379310
 2000-03-31    169.230769
 2000-04-30    233.758621
 2000-05-31    285.870968
 2000-06-30    351.074074
 2000-07-31    334.709677
 2000-08-31    298.600000
 2000-09-30    221.137931
 2000-10-31    149.724138
 2000-11-30     90.766667
 2000-12-31     73.903226
 Freq: M, Name: ref_eto_f, dtype: float64, 94: date
 2000-01-31    110.322581
 2000-02-29    111.793103
 2000-03-31    183.550000
 2000-04-30    222.333333
 2000-05-31    297.032258
 2000-06-30    275.766667
 2000-07-31    300.826087
 2000-08-31    193.000000
 2000-09-30    223.793103
 2000-10-31    116.363636
 Freq: M, Name: ref_eto_f, dtype: float64, 80: date
 2000-01-31     64.000000
 2000-02-29    104.344828
 2000-03-31    185.129032
 2000-04-30    232.312500
 2000-05-31    304.240000
 2000-06-30    338.857143
 2000-07-31    335.741935
 2000-08-31    288.419355
 2000-09-30    236.724138
 2000-10-31    158.900000
 2000-11-30    101.200000
 2000-12-31     83.096774
 Freq: M, Name: ref_eto_f, dtype: float64, 123: date
 2000-01-31     75.400000
 2000-02-29     96.758621
 2000-03-31    187.769231
 2000-04-30    268.074074
 2000-05-31    295.933333
 2000-06-30    346.142857
 2000-07-31    330.466667
 2000-08-31    285.300000
 2000-09-30    231.965517
 2000-10-31    155.000000
 2000-11-30    110.333333
 2000-12-31     80.064516
 Freq: M, Name: ref_eto_f, dtype: float64, 122: date
 2000-01-31     74.833333
 2000-02-29     96.827586
 2000-03-31    192.280000
 2000-04-30    268.680000
 2000-05-31    288.933333
 2000-06-30    349.482759
 2000-07-31    343.900000
 2000-08-31    294.241379
 2000-09-30    229.965517
 2000-10-31    142.166667
 2000-11-30    108.592593
 2000-12-31     85.833333
 Freq: M, Name: ref_eto_f, dtype: float64, 42: date
 2000-01-31     70.290323
 2000-02-29    102.965517
 2000-03-31    201.500000
 2000-04-30    256.310345
 2000-05-31    283.677419
 2000-06-30    341.703704
 2000-07-31    334.645161
 2000-08-31    279.700000
 2000-09-30    227.344828
 2000-10-31    151.161290
 2000-11-30     99.833333
 2000-12-31     68.838710
 Freq: M, Name: ref_eto_f, dtype: float64, 56: date
 2000-01-31     77.433333
 2000-02-29    112.034483
 2000-03-31    212.233333
 2000-04-30    268.517241
 2000-05-31    293.870968
 2000-06-30    344.535714
 2000-07-31    350.966667
 2000-08-31    305.300000
 2000-09-30    245.200000
 2000-10-31    166.161290
 2000-11-30    114.500000
 2000-12-31     98.050000
 Freq: M, Name: ref_eto_f, dtype: float64, 107: date
 2000-01-31    102.100000
 2000-02-29    109.115385
 2000-03-31    187.476190
 2000-04-30    222.588235
 2000-05-31    304.888889
 2000-06-30    269.428571
 2000-07-31    293.966667
 2000-08-31    275.645161
 2000-09-30    216.357143
 2000-10-31    141.866667
 2000-11-30    147.733333
 2000-12-31    102.333333
 Freq: M, Name: ref_eto_f, dtype: float64, 113: date
 2000-01-31     92.433333
 2000-02-29    122.344828
 2000-03-31    211.300000
 2000-04-30    268.793103
 2000-05-31    291.258065
 2000-06-30    325.466667
 2000-07-31    311.838710
 2000-08-31    281.290323
 2000-09-30    233.800000
 2000-10-31    162.000000
 2000-11-30    134.600000
 2000-12-31    106.612903
 Freq: M, Name: ref_eto_f, dtype: float64, 106: date
 2000-01-31     68.387097
 2000-02-29     87.241379
 2000-03-31    191.500000
 2000-04-30    248.034483
 2000-05-31    285.838710
 2000-06-30    342.633333
 2000-07-31    332.666667
 2000-08-31    293.916667
 2000-09-30    222.966667
 2000-10-31    154.133333
 2000-11-30    103.700000
 2000-12-31     84.387097
 Freq: M, Name: ref_eto_f, dtype: float64, 99: date
 2000-01-31    117.161290
 2000-02-29    126.103448
 2000-03-31    205.258065
 2000-04-30    248.850000
 2000-05-31    285.565217
 2000-06-30    331.652174
 2000-07-31    333.434783
 2000-08-31    282.750000
 2000-09-30    205.538462
 2000-10-31    146.105263
 2000-11-30    150.846154
 2000-12-31    127.222222
 Freq: M, Name: ref_eto_f, dtype: float64, 66: date
 2000-01-31    115.133333
 2000-02-29    132.760000
 2000-03-31    197.032258
 2000-04-30    255.068966
 2000-05-31    259.580645
 2000-06-30    290.620690
 2000-07-31    298.566667
 2000-08-31    251.700000
 2000-09-30    209.700000
 2000-10-31    143.870968
 2000-11-30    136.333333
 2000-12-31    111.466667
 Freq: M, Name: ref_eto_f, dtype: float64, 64: date
 2000-01-31     89.096774
 2000-02-29    101.413793
 2000-03-31    174.354839
 2000-04-30    221.241379
 2000-05-31    275.793103
 2000-06-30    272.500000
 2000-07-31    267.709677
 2000-08-31    241.387097
 2000-09-30    215.000000
 2000-10-31    142.142857
 2000-11-30    146.000000
 2000-12-31    116.290323
 Freq: M, Name: ref_eto_f, dtype: float64, 70: date
 2000-01-31     73.354839
 2000-02-29    105.310345
 2000-03-31    201.000000
 2000-04-30    257.750000
 2000-05-31    289.033333
 2000-06-30    348.700000
 2000-07-31    344.354839
 2000-08-31    290.258065
 2000-09-30    235.866667
 2000-10-31    150.258065
 2000-11-30     90.000000
 2000-12-31     78.483871
 Freq: M, Name: ref_eto_f, dtype: float64, 104: date
 2000-01-31     75.612903
 2000-02-29     77.904762
 2000-03-31    178.235294
 2000-04-30    258.518519
 2000-05-31    281.645161
 2000-06-30    302.500000
 2000-07-31    293.833333
 2000-08-31    260.354839
 2000-09-30    183.647059
 2000-10-31    129.692308
 2000-11-30    119.478261
 2000-12-31     99.225806
 Freq: M, Name: ref_eto_f, dtype: float64, 105: date
 2000-01-31     70.967742
 2000-02-29    100.620690
 2000-03-31    181.064516
 2000-04-30    230.172414
 2000-05-31    265.387097
 2000-06-30    344.827586
 2000-07-31    354.842105
 2000-08-31    291.000000
 2000-09-30    231.529412
 2000-10-31    160.966667
 2000-11-30    121.833333
 2000-12-31     88.322581
 Freq: M, Name: ref_eto_f, dtype: float64, 111: date
 2000-01-31     76.516129
 2000-02-29    101.928571
 2000-03-31    189.678571
 2000-04-30    303.000000
 2000-05-31    280.689655
 2000-06-30    298.809524
 2000-07-31    291.032258
 2000-08-31    254.193548
 2000-09-30    196.000000
 2000-10-31    131.869565
 2000-11-30    129.678571
 2000-12-31     97.322581
 Freq: M, Name: ref_eto_f, dtype: float64, 71: date